In [1]:
# imports
import numpy as np
import pandas as pd

In [2]:
# load data
df = pd.read_excel('ia110220.xlsx')
print(df.shape)
df.head()

(13847, 262)

,SEC Region,Organization CRD#,SEC#,Firm Type,Umbrella Registration,Primary Business Name,Legal Name,Main Office Street Address 1,Main Office Street Address 2,Main Office City,...,11E(1),11E(2),11E(3),11E(4),11F,11G,11H(1)(a),11H(1)(b),11H(1)(c),11H(2)
0,NYRO,79,801-3702,Registered,N,J.P. MORGAN SECURITIES LLC,J.P. MORGAN SECURITIES LLC,383 MADISON AVE,NaN,NEW YORK,...,Y,Y,N,Y,N,Y,Y,Y,Y,Y
1,NYRO,231,801-54739,Registered,N,BNY MELLON SECURITIES CORPORATION,BNY MELLON SECURITIES CORPORATION,240 GREENWICH STREET,9TH FLOOR EAST,NEW YORK,...,N,Y,N,N,N,N,N,N,Y,N
2,CHRO,728,801-7395,Registered,N,ROTHSCHILD INVESTMENT CORPORATION,ROTHSCHILD INVESTMENT CORPORATION,311 SOUTH WACKER DRIVE,SUITE 6500,CHICAGO,...,N,Y,N,Y,N,N,N,N,N,N
3,CHRO,793,801-10746,Registered,N,"STIFEL, NICOLAUS & COMPANY, INCORPORATED","STIFEL, NICOLAUS & COMPANY, INCORPORATED",501 N BROADWAY,NaN,ST LOUIS,...,Y,Y,N,Y,N,Y,Y,Y,N,Y
4,NYRO,816,801-56264,Registered,N,CREDIT SUISSE SECURITIES (USA) LLC,CREDIT SUISSE SECURITIES (USA) LLC,11 MADISON AVENUE,NaN,NEW YORK,...,N,Y,N,Y,N,Y,Y,Y,Y,Y

In [3]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Organization CRD#,13847.0,1.754933e+05,7.435397e+04,25.0,1.202945e+05,155860.0,2.699225e+05,3.111840e+05
"Total number of offices, other than your Principal Office and place of business",13811.0,8.398523e+00,1.761546e+02,0.0,0.000000e+00,0.0,1.000000e+00,1.443900e+04
5A,13845.0,6.649556e+01,7.843124e+02,0.0,4.000000e+00,8.0,2.000000e+01,5.157600e+04
5B(1),13845.0,3.269679e+01,4.083007e+02,0.0,3.000000e+00,5.0,1.100000e+01,2.696800e+04
5B(2),13845.0,2.840621e+01,5.188147e+02,0.0,0.000000e+00,0.0,1.000000e+00,2.961800e+04
5B(3),13845.0,2.327136e+01,4.288948e+02,0.0,0.000000e+00,1.0,4.000000e+00,2.696800e+04
5B(4),13845.0,1.465294e+00,4.957120e+01,0.0,0.000000e+00,0.0,0.000000e+00,5.205000e+03
5B(5),13845.0,1.819350e+01,3.756946e+02,0.0,0.000000e+00,0.0,1.000000e+00,2.150200e+04
5B(6),13845.0,2.425121e+01,2.077216e+03,0.0,0.000000e+00,0.0,0.000000e+00,2.334120e+05
"5C(1)-If more than 100, how many",36.0,2.138889e+02,5.571113e+02,0.0,0.000000e+00,0.0,0.000000e+00,2.200000e+03
5C(2),13845.0,1.377494e+01,2.873021e+01,0.0,0.000000e+00,0.0,3.000000e+00,1.000000e+02
5D(1)(m)-Other,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5D(2)(m)-Other,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5D(a)(1),8963.0,3.968421e+03,7.469669e+04,0.0,1.100000e+01,106.0,3.210000e+02,4.882937e+06
5D(a)(3),8736.0,5.981207e+08,9.850210e+09,0.0,4.610232e+06,36491652.5,9.894902e+07,5.740163e+11
5D(b)(1),9290.0,5.300280e+02,1.032624e+04,0.0,1.200000e+01,50.0,1.180000e+02,5.827810e+05
5D(b)(3),9170.0,8.169132e+08,8.443766e+09,0.0,3.741333e+07,122013535.5,3.099415e+08,3.969773e+11
5D(c)(1),4544.0,2.112676e+00,4.913480e+01,0.0,0.000000e+00,0.0,0.000000e+00,2.837000e+03
5D(c)(3),4031.0,1.709014e+08,1.736990e+09,0.0,0.000000e+00,0.0,0.000000e+00,4.866016e+10
5D(d)(1),5465.0,4.824886e+00,4.871162e+01,0.0,0.000000e+00,0.0,1.000000e+00,1.864000e+03
5D(d)(3),4770.0,7.039507e+09,1.064766e+11,0.0,0.000000e+00,0.0,4.870719e+07,5.695287e+12
5D(e)(1),4635.0,2.869471e-02,2.745041e-01,0.0,0.000000e+00,0.0,0.000000e+00,1.000000e+01
5D(e)(3),3860.0,3.248716e+07,4.703448e+08,0.0,0.000000e+00,0.0,0.000000e+00,1.718626e+10
5D(f)(1),8268.0,1.017598e+01,5.698475e+01,0.0,0.000000e+00,2.0,7.000000e+00,2.386000e+03
5D(f)(3),7862.0,3.299060e+09,1.905219e+10,0.0,0.000000e+00,153658626.0,1.051947e+09,9.050404e+11
5D(g)(1),6400.0,6.100750e+01,7.666526e+02,0.0,0.000000e+00,3.0,1.400000e+01,3.334000e+04
5D(g)(3),6951.0,9.360674e+08,7.674797e+09,0.0,0.000000e+00,5958729.0,5.585694e+07,3.394362e+11
5D(h)(1),5896.0,1.701119e+01,1.480224e+02,0.0,0.000000e+00,1.0,7.000000e+00,5.773000e+03
5D(h)(3),6730.0,1.774567e+08,1.639504e+09,0.0,0.000000e+00,2346302.5,2.533940e+07,9.999820e+10
5D(i)(1),4802.0,5.157643e+00,5.807891e+01,0.0,0.000000e+00,0.0,0.000000e+00,3.220000e+03
5D(i)(3),4485.0,7.940934e+08,6.506427e+09,0.0,0.000000e+00,0.0,6.550912e+06,2.157193e+11
5D(j)(1),4688.0,1.839010e+02,1.145253e+04,0.0,0.000000e+00,0.0,0.000000e+00,7.826410e+05
5D(j)(3),4253.0,2.866821e+08,3.658278e+09,0.0,0.000000e+00,0.0,0.000000e+00,1.138000e+11
5D(k)(1),4692.0,2.559250e+00,2.370303e+01,0.0,0.000000e+00,0.0,0.000000e+00,1.137000e+03
5D(k)(3),4352.0,1.436998e+09,1.501146e+10,0.0,0.000000e+00,0.0,0.000000e+00,4.368636e+11
5D(l)(1),4465.0,3.686450e-01,3.307603e+00,0.0,0.000000e+00,0.0,0.000000e+00,1.230000e+02
5D(l)(3),3944.0,3.914416e+08,3.882242e+09,0.0,0.000000e+00,0.0,0.000000e+00,1.571303e+11
5D(m)(1),5954.0,5.396389e+01,7.557112e+02,0.0,0.000000e+00,1.0,9.000000e+00,3.410800e+04
5D(m)(3),6517.0,4.108878e+08,3.536706e+09,0.0,0.000000e+00,2693117.0,3.727950e+07,1.000997e+11
5D(n)(1),4183.0,6.672890e+01,1.240874e+03,0.0,0.000000e+00,0.0,0.000000e+00,5.343200e+04
5D(n)(3),3969.0,2.426603e+08,1.926010e+09,0.0,0.000000e+00,0.0,3.404710e+06,6.536127e+10
5F(2)(a),13847.0,6.458065e+09,7.427383e+10,0.0,1.190881e+08,285956442.0,1.028737e+09,5.716123e+12
5F(2)(b),13847.0,5.467871e+08,9.189548e+09,0.0,0.000000e+00,0.0,2.649121e+07,6.728598e+11
5F(2)(c),13847.0,7.004852e+09,7.575787e+10,0.0,1.478566e+08,345108847.0,1.256686e+09,5.716123e+12
5F(2)(d),13847.0,2.681459e+03,4.293282e+04,0.0,5.000000e+00,89.0,6.060000e+02,2.954678e+06
5F(2)(e),13847.0,1.102296e+03,5.252269e+04,0.0,0.000000e+00,0.0,1.100000e+01,5.345666e+06
5F(2)(f),13847.0,3.783755e+03,7.396406e+04,0.0,7.000000e+00,130.0,6.885000e+02,5.345666e+06
5F(3),13397.0,1.866617e+09,1.796210e+10,0.0,0.000000e+00,0.0,1.854253e+07,1.165452e+12
"5H-If more than 500, how many",392.0,8.838898e+03,4.925850e+04,500.0,6.000000e+02,1000.0,2.000000e+03,7.553130e+05
5I(2)(a),2044.0,1.433889e+09,1.816762e+10,0.0,0.000000e+00,0.0,0.000000e+00,4.215021e+11
5I(2)(b),2044.0,8.530218e+08,9.936664e+09,0.0,0.000000e+00,0.0,6.551419e+07,3.762753e+11
5I(2)(c),2044.0,2.039190e+09,2.475581e+10,0.0,0.000000e+00,2146807.5,1.920000e+08,7.108694e+11
9A(2)(a),6878.0,2.263706e+09,2.109954e+10,0.0,1.016068e+07,101049457.5,4.756333e+08,9.545531e+11
9A(2)(b),6882.0,5.584025e+04,2.220132e+06,0.0,2.000000e+00,9.0,7.575000e+01,1.194812e+08
9B(2)(a),4633.0,3.659180e+09,2.725235e+10,0.0,2.686886e+07,254837514.0,1.109923e+09,1.126772e+12
9B(2)(b),4638.0,7.287348e+04,3.180594e+06,0.0,2.000000e+00,4.0,1.300000e+01,1.595995e+08
9F,9410.0,3.720723e+00,8.249549e+00,0.0,1.000000e+00,2.0,3.000000e+00,3.340000e+02

In [4]:
# TODO - try to convert columns with symbols to actual ADV questions
df.columns[0:100]

Index(['SEC Region', 'Organization CRD#', 'SEC#', 'Firm Type',
       'Umbrella Registration', 'Primary Business Name', 'Legal Name',
       'Main Office Street Address 1', 'Main Office Street Address 2',
       'Main Office City', 'Main Office State', 'Main Office Country',
       'Main Office Postal Code', 'Main Office Telephone Number',
       'Main Office Facsimile Number',
       'Total number of offices, other than your Principal Office and place of business',
       'Mail Office Street Address 1', 'Mail Office Street Address 2',
       'Mail Office City', 'Mail Office State', 'Mail Office Country',
       'Mail Office Postal Code', 'SEC Current Status',
       'SEC Status Effective Date', 'Jurisdiction Notice Filed-Effective Date',
       'Latest ADV Filing Date', 'Form Version', '1I', 'Website Address', '1M',
       '1N', '1O', '1O - If yes, approx. amount of assets', '1P', '2A(1)',
       '2A(2)', '2A(4)', '2A(5)', '2A(6)', '2A(7)', '2A(8)', '2A(9)', '2A(10)',
       '2A(11)', '2A(12)', '2A(13)', '3A', '3A-Other', '3B', '3C-State',
       '3C-Country', '5A', '5B(1)', '5B(2)', '5B(3)', '5B(4)', '5B(5)',
       '5B(6)', '5C(1)', '5C(1)-If more than 100, how many', '5C(2)',
       '5D(1)(a)', '5D(1)(b)', '5D(1)(c)', '5D(1)(d)', '5D(1)(e)', '5D(1)(f)',
       '5D(1)(g)', '5D(1)(h)', '5D(1)(i)', '5D(1)(j)', '5D(1)(k)', '5D(1)(l)',
       '5D(1)(m)', '5D(1)(m)-Other', '5D(2)(a)', '5D(2)(b)', '5D(2)(c)',
       '5D(2)(d)', '5D(2)(e)', '5D(2)(f)', '5D(2)(g)', '5D(2)(h)', '5D(2)(i)',
       '5D(2)(j)', '5D(2)(k)', '5D(2)(l)', '5D(2)(m)', '5D(2)(m)-Other',
       '5D(a)(1)', '5D(a)(2)', '5D(a)(3)', '5D(b)(1)', '5D(b)(2)', '5D(b)(3)',
       '5D(c)(1)', '5D(c)(2)', '5D(c)(3)', '5D(d)(1)', '5D(d)(3)'],
      dtype='object')

In [5]:
df.columns[101:200]

Index(['5D(e)(3)', '5D(f)(1)', '5D(f)(3)', '5D(g)(1)', '5D(g)(2)', '5D(g)(3)',
       '5D(h)(1)', '5D(h)(2)', '5D(h)(3)', '5D(i)(1)', '5D(i)(2)', '5D(i)(3)',
       '5D(j)(1)', '5D(j)(2)', '5D(j)(3)', '5D(k)(1)', '5D(k)(2)', '5D(k)(3)',
       '5D(l)(1)', '5D(l)(2)', '5D(l)(3)', '5D(m)(1)', '5D(m)(2)', '5D(m)(3)',
       '5D(n)(1)', '5D(n)(2)', '5D(n)(3)', '5D(n)(3) - Other', '5E(1)',
       '5E(2)', '5E(3)', '5E(4)', '5E(5)', '5E(6)', '5E(7)', '5E(7)-Other',
       '5F(1)', '5F(2)(a)', '5F(2)(b)', '5F(2)(c)', '5F(2)(d)', '5F(2)(e)',
       '5F(2)(f)', '5F(3)', '5G(1)', '5G(2)', '5G(3)', '5G(4)', '5G(5)',
       '5G(6)', '5G(7)', '5G(8)', '5G(9)', '5G(10)', '5G(11)', '5G(12)',
       '5G(12)-Other', '5H', '5H-If more than 500, how many', '5I(1)',
       '5I(2)(a)', '5I(2)(b)', '5I(2)(c)', '5J(1)', '5J(2)', '6A(1)', '6A(2)',
       '6A(3)', '6A(4)', '6A(5)', '6A(6)', '6A(7)', '6A(8)', '6A(9)', '6A(10)',
       '6A(11)', '6A(12)', '6A(13)', '6A(14)', '6A(14)-Other', '6B(1)',
       '6B(2)', '6B(3)', '7A(1)', '7A(2)', '7A(3)', '7A(4)', '7A(5)', '7A(6)',
       '7A(7)', '7A(8)', '7A(9)', '7A(10)', '7A(11)', '7A(12)', '7A(13)',
       '7A(14)', '7A(15)', '7A(16)'],
      dtype='object')

In [6]:
df.columns[201:262]

Index([    '8A(1)',     '8A(2)',     '8A(3)',     '8B(1)',     '8B(2)',
           '8B(3)',     '8C(1)',     '8C(2)',     '8C(3)',     '8C(4)',
              '8D',        '8E',        '8F',     '8G(1)',     '8G(2)',
              '8H',     '8H(1)',     '8H(2)',        '8I',  '9A(1)(a)',
        '9A(1)(b)',  '9A(2)(a)',  '9A(2)(b)',  '9B(1)(a)',  '9B(1)(b)',
        '9B(2)(a)',  '9B(2)(b)',     '9C(1)',     '9C(2)',     '9C(3)',
           '9C(4)',     '9D(1)',     '9D(2)',        '9E',        '9F',
             '10A',          11,    '11A(1)',    '11A(2)',    '11B(1)',
          '11B(2)',    '11C(1)',    '11C(2)',    '11C(3)',    '11C(4)',
          '11C(5)',    '11D(1)',    '11D(2)',    '11D(3)',    '11D(4)',
          '11D(5)',    '11E(1)',    '11E(2)',    '11E(3)',    '11E(4)',
             '11F',       '11G', '11H(1)(a)', '11H(1)(b)', '11H(1)(c)',
          '11H(2)'],
      dtype='object')

In [7]:
df.describe(exclude=[np.number]).T

                       count unique                      top   freq first last
SEC Region             13847     11                     NYRO   2986   NaT  NaT
SEC#                   13847  13847                801-61668      1   NaT  NaT
Firm Type              13847      1               Registered  13847   NaT  NaT
Umbrella Registration  13800      2                        N  12976   NaT  NaT
Primary Business Name  13847  13783  FIRST SENTIER INVESTORS      4   NaT  NaT
...                      ...    ...                      ...    ...   ...  ...
11G                    13847      2                        N  13718   NaT  NaT
11H(1)(a)              13847      2                        N  13757   NaT  NaT
11H(1)(b)              13847      2                        N  13733   NaT  NaT
11H(1)(c)              13847      2                        N  13750   NaT  NaT
11H(2)                 13847      2                        N  13711   NaT  NaT

[205 rows x 6 columns]

In [8]:
# most popular cities
df['Main Office City'].value_counts(normalize=True).head(15)

NEW YORK         0.147375
CHICAGO          0.027463
BOSTON           0.025874
SAN FRANCISCO    0.022923
DALLAS           0.018006
LONDON           0.018006
HOUSTON          0.015812
LOS ANGELES      0.015812
ATLANTA          0.012861
DENVER           0.010592
MIAMI            0.009003
GREENWICH        0.008473
AUSTIN           0.007944
STAMFORD         0.006960
PORTLAND         0.006809
Name: Main Office City, dtype: float64

In [24]:
# most popular states
pop_state = df['Main Office State'].value_counts(normalize=True)
pop_state

NY    0.204083
CA    0.135056
TX    0.064004
MA    0.049340
IL    0.049097
FL    0.049016
PA    0.039780
CT    0.034351
NJ    0.026412
OH    0.025359
CO    0.023090
GA    0.022361
VA    0.020011
WA    0.019282
MI    0.018877
MN    0.018634
NC    0.017581
MD    0.017176
TN    0.014016
WI    0.013206
MO    0.012072
OR    0.011667
AZ    0.011423
IN    0.009560
KS    0.008588
UT    0.007130
AL    0.005752
IA    0.005671
SC    0.005590
NE    0.005104
OK    0.005023
KY    0.005023
DC    0.004780
NH    0.004699
LA    0.004699
NV    0.003646
RI    0.003484
DE    0.002998
AR    0.002917
ID    0.002755
MS    0.002187
PR    0.002187
VT    0.002106
ME    0.002025
HI    0.001539
NM    0.001377
WY    0.001053
SD    0.001053
MT    0.000972
WV    0.000729
AK    0.000729
ND    0.000567
GU    0.000081
VI    0.000081
Name: Main Office State, dtype: float64

In [25]:
pop_state.to_csv('pop_state.csv')

/Users/josephbell/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [11]:
# most popular countries 
df['Main Office Country'].value_counts().head(15)

United States     12343
United Kingdom      271
Canada              129
Hong Kong            78
Switzerland          63
Singapore            43
China                40
Australia            33
Japan                22
Brazil               16
Ireland              14
Cayman Islands       13
France               12
India                10
Bermuda              10
Name: Main Office Country, dtype: int64

In [12]:
# Did you have $1 billion or more in assets on the last day of your most recent fiscal year?
df['1O'].value_counts()

N    13413
Y      432
Name: 1O, dtype: int64

In [13]:
# If yes, what is the approximate amount of your assets:
df['1O - If yes, approx. amount of assets'].value_counts()

$1 billion - $10 billion     380
$10 billion - $50 billion     28
More than $50 billion         23
Name: 1O - If yes, approx. amount of assets, dtype: int64

In [14]:
# Didn't list a web address
df['Website Address'].isnull().sum()

1503

In [15]:
# Total number of offices other than Princpal Office
df['Total number of offices, other than your Principal Office and place of business'].value_counts()

0.0       8556
1.0       2609
2.0        968
3.0        469
4.0        254
          ...
1905.0       1
1138.0       1
176.0        1
52.0         1
237.0        1
Name: Total number of offices, other than your Principal Office and place of business, Length: 192, dtype: int64

In [16]:
# Number of Employees
df['5A'].value_counts()

4.0        1104
3.0        1070
5.0        1050
2.0         953
6.0         863
           ...
289.0         1
772.0         1
1989.0        1
597.0         1
23035.0       1
Name: 5A, Length: 548, dtype: int64

In [17]:
# Number of Employees that perform investment advisory functions including research
df['5B(1)'].value_counts()

2.0       1766
3.0       1681
4.0       1351
1.0       1309
5.0       1026
          ...
1560.0       1
974.0        1
597.0        1
1020.0       1
373.0        1
Name: 5B(1), Length: 385, dtype: int64

In [18]:
compensation_labels = ['5E(1)', '5E(2)', '5E(3)', '5E(4)', '5E(5)', '5E(6)', '5E(7)', '5E(7)-Other']

compensation_arrangements = ['A percentage of assets under your management',
                            'Hourly charges',
                            'Subscription fees (for a newsletter of periodical)',
                            'Fixed fees (other than subscription fees)',
                            'Commissions',
                            'Performance-based fees',
                            'Other (specify)']

for label, arrangement in zip(compensation_labels, compensation_arrangements):
    print(arrangement)
    print(df[label].value_counts(normalize=True))

A percentage of assets under your management
Y    0.953564
N    0.046436
Name: 5E(1), dtype: float64
Hourly charges
N    0.701596
Y    0.298404
Name: 5E(2), dtype: float64
Subscription fees (for a newsletter of periodical)
N    0.990034
Y    0.009966
Name: 5E(3), dtype: float64
Fixed fees (other than subscription fees)
N    0.553333
Y    0.446667
Name: 5E(4), dtype: float64
Commissions
N    0.970246
Y    0.029754
Name: 5E(5), dtype: float64
Performance-based fees
N    0.634506
Y    0.365494
Name: 5E(6), dtype: float64
Other (specify)
N    0.857803
Y    0.142197
Name: 5E(7), dtype: float64

In [19]:
df['5F(1)'].value_counts()

Y    13434
N      413
Name: 5F(1), dtype: int64

In [20]:
assets = ['5F(2)(a)', '5F(2)(b)', '5F(2)(c)']

names = ['Discretionary AUM', 'Non-Discretionary AUM', 'Total AUM']

for asset, name in zip(assets, names):
    print(name)
    print('${:,.2f}'.format(df[asset].sum()))

Discretionary AUM
$89,424,820,597,308.00
Non-Discretionary AUM
$7,571,360,972,903.00
Total AUM
$96,996,181,570,211.00

In [21]:
accounts = ['5F(2)(d)', '5F(2)(e)', '5F(2)(f)']

names = ['Discretionary Accounts', 'Non-Discretionary Accounts', 'Total Accounts']

for account, name in zip(accounts, names):
    print(name)
    print(df[account].sum())

Discretionary Accounts
37130163
Non-Discretionary Accounts
15263494
Total Accounts
52393657

In [22]:
aum_by_state = df.groupby('Main Office State').agg({'5F(2)(c)': ['mean', 'min', 'max']})
aum_by_state

                       5F(2)(c)
                           mean        min            max
Main Office State
AK                 1.068408e+09  109639000     4241570588
AL                 1.548877e+09          0    29391930973
AR                 8.939588e+08          0    10853841603
AZ                 1.474680e+09          0    88783595347
CA                 8.731052e+09          0  2571910740224
CO                 2.343545e+09          0   207531305491
CT                 5.688707e+09          0   248897091720
DC                 5.247234e+09          0   143793946402
DE                 4.225441e+09   57250038    79298539953
FL                 1.996196e+09          0   203946597149
GA                 4.032157e+09          0   675224967759
GU                 4.395581e+08  439558057      439558057
HI                 3.856303e+08          0     1766341127
IA                 8.617689e+09          0   349164302820
ID                 5.119468e+08          0     3634887689
IL                 7.531929e+09          0   873703215881
IN                 1.427259e+09          0    26805616952
KS                 3.047075e+09          0    70691147403
KY                 8.358604e+08  116743947     6673361589
LA                 5.526211e+08          0     4167058675
MA                 1.857822e+10          0  2675847998842
MD                 8.040532e+09          0  1188464299055
ME                 6.893176e+08   76343345     4856533142
MI                 1.841695e+09          0   237075688043
MN                 6.024184e+09          0   313282403322
MO                 1.262907e+10          0   510933873086
MS                 5.609066e+08  115000000     3093797958
MT                 2.259288e+09          0    18448644274
NC                 4.214318e+09          0   389150706027
ND                 3.237508e+08  110133843      790956488
NE                 2.276573e+09          0    29024824068
NH                 5.608796e+08          0     4494816512
NJ                 1.289767e+10          0  1070360996022
NM                 2.843578e+09   97542577    42661582315
NV                 7.235676e+08          0    12305500000
NY                 8.637612e+09          0  1677135744022
OH                 1.994278e+09          0    80556845405
OK                 7.449140e+08          0     8264421786
OR                 9.575197e+08          0    21480208218
PA                 1.771347e+10          0  5716123429434
PR                 1.009404e+09          0     6687657933
RI                 3.380122e+09  101032889   102942006637
SC                 3.810566e+09          0   207793164246
SD                 3.281644e+08   53641888     1378053184
TN                 6.834367e+08          0    12713508008
TX                 2.954486e+09          0   662625984072
UT                 9.739183e+08          0    20852270144
VA                 1.825477e+09          0    44884000000
VI                 1.031400e+08  103140000      103140000
VT                 4.287902e+09  110855224    53605054837
WA                 3.491020e+09          0   265956945009
WI                 3.349924e+09          0   188252622527
WV                 5.535769e+08  163002289     1272399515
WY                 8.224629e+08   97466259     5036793086

In [23]:
df.groupby('Main Office State')['5F(2)(c)'].mean().sort_values(ascending=False).astype(int)

Main Office State
MA    18578215685
PA    17713467968
NJ    12897666437
MO    12629069549
CA     8731051767
NY     8637611919
IA     8617688866
MD     8040532135
IL     7531928913
MN     6024184407
CT     5688707036
DC     5247234314
VT     4287901817
DE     4225440757
NC     4214318187
GA     4032156643
SC     3810566243
WA     3491020226
RI     3380122102
WI     3349924065
KS     3047074620
TX     2954486342
NM     2843578465
CO     2343545480
NE     2276573258
MT     2259288485
FL     1996196103
OH     1994277535
MI     1841695257
VA     1825476851
AL     1548877413
AZ     1474680343
IN     1427259172
AK     1068407955
PR     1009404187
UT      973918320
OR      957519663
AR      893958786
KY      835860396
WY      822462905
OK      744913964
NV      723567648
ME      689317574
TN      683436652
MS      560906603
NH      560879564
WV      553576883
LA      552621082
ID      511946844
GU      439558057
HI      385630320
SD      328164386
ND      323750842
VI      103140000
Name: 5F(2)(c), dtype: int64